.footer{
    .contacto-links{
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-top: 1.5rem;

        a{
            color: $color-gris;
            border-radius: 50%;
            border: 4px solid $color-gris;
            padding: .5rem;

            transition: all .2s;

            svg{
                width: 50px;
            }
        }
        a:hover{
            border: 4px solid $color-claro;
        }
    }
    .derechos-de-autor{
        font-size: 1.5rem;
        display: flex;
        justify-items: center;
        align-items: center;
        color: $color-gris;
        margin: 1rem;
    }
}