@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// fuentes
$fuente-principal: "Poppins", sans-serif;
$fuente-secundaria: "Graduate", serif;

// media querys
$telefono: 480px;
$tablet: 768px;
$desktop: 1124px;

// colores
$color-principal: #a0ced9;
$color-verde: #adf7b6;
$color-rosa: #ffc09f;
$color-gris: #232429;
$color-amarillo: #ffee93;

$color-claro: #f2f3ef;